extends base.pug

- load i18n

block content
  table.table.table-striped.table-hover.table-sm
    tbody
      tr
        th Nombre
        td {{store.name}}
      tr
        th Direcciones
        td
          | {{ store.addresses.all|join:"," }}
  br
  |Horarios:
  br
  ul
    for schedule in object.schedules.all
      li
        {{ schedule.get_weekday_display|title }}
        {{ schedule.opening_time }} - {{ schedule.closing_time }}

  for image in object.images.all
    img.img-fluid(src="{{ image.image.url }}")