extends form.pug

- load i18n
- load bootstrap4

block content
  block content_header
  div
    {% if form.errors %}
    {% for error in form.non_field_errors %}
    div.alert.alert-danger
      | {{ error }}
    {% endfor %}
    {% endif %}

  section#contacts-2.wide-100.contacts-section.division.mt-40.background-white
    .container
      {% if messages %}
      {% for message in messages %}
      div(class="alert alert-{{ message.tags }}")
        button.close(type="button", data-dismiss="alert", aria-label="Close")
          span.i.fa.fa-times
            |
        {{ message }}
      {% endfor %}
      {% endif %}
      .row
        .col-lg-10.offset-lg-1.section-title
          h3.h3-lg
            | ¿No encuentras una tienda?
          p.p-md
            | Puedes rellenar los datos de la tienda para que este disponible para buscarla
      .row
        .col-md-10.col-xl-8.offset-md-1.offset-xl-2
          .form-holder
            form.row.contact-form(
              method="post",
              enctype="multipart/form-data",
              role="form",
              action="{{action}}",
              name="contactform",
              novalidate,
            )
              {% csrf_token %}
              {% bootstrap_form form %}
              .col-lg-12.mt-15.form-btn.text-right
                {% buttons %}
                button(type="submit").btn.btn-success.black-hover.submit
                  | Crear tienda
                {% endbuttons %}
