extends base.pug

- load i18n humanize

block content
  section#hero-10.bg-fixed.bg-deepviolet.text-center.newsletter-section.division
  section#features-3.bg-fixed.bg-deepviolet.bg-waves.features-section.division
    .container
      .f3-content
        .text-center
          h2 Tiendas Online
        .row.mt-5
          for store in object_list
            .col-md-12.col-lg-12
              .fbox-3
                .fbox-3-txt
                  h4.h5-sm
                    i.fas.fa-store-alt.mr-2
                    {{ store.name }}
                  p
                    ul.list-group.list-group-horizontal
                      if store.facebook
                        li
                          h4
                            a.link(href="{{ store.facebook }}", target="_blank")
                              i.fab.fa-facebook.mr-2
                      if store.instagram
                        li
                          h4
                            a.link(href="{{ store.instagram }}", target="_blank")
                              i.fab.fa-instagram.mr-2
                    p.mt-3
                      i.fas.fa-dice-d20.mr-2
                      a.link(href="{{ store.website }}", target="_blank")
                        strong
                          u {{ store.website }}
