- load i18n static

header#header.header
  nav.navbar.fixed-top.navbar-expand-md.hover-menu.navbar-dark.bg-tra.black-scroll.scroll
    .container
      a.navbar-brand.logo-black(href='{% url "home" %}')
        img(src='{% static "svg/meeple.svg" %}' width='120' height='50' alt='header-logo')
      a.navbar-brand.logo-white(href='{% url "home" %}')
        img(src='{% static "svg/meeple.svg" %}' width='120' height='50' alt='header-logo')
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarContent' aria-controls='navbarContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-bar-icon
          i.fas.fa-bars
      #navbarContent.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.nl-simple
            a.nav-link(href='{% url "home" %}') Inicio
          li.nav-item.nl-simple
            a.nav-link(href='{% url "draft_store_create" %}') Subir tienda
