doctype 5

- load render_bundle from webpack_loader
- load i18n static

html(lang="{{ LANGUAGE_CODE }}")
  head
    if google_analytics_code
      // Global site tag (gtag.js) - Google Analytics
      script(
        async,
        src="https://www.googletagmanager.com/gtag/js?id={{google_analytics_code}}"
      )
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{google_analytics_code}}');


    meta(charset="utf-8")
    title
      | {% block title %}{% if title%}{{title}} - {% endif %}{%endblock%} GameRoad
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="https://gameroad.cl")
    meta(name='keywords', content="")

    // Schema.org for Google
    meta(itemprop='name', content="")
    meta(itemprop='description', content="")

    // image
    if object.image
      meta(itemprop='image', content='{{ object.image.url }}')
      meta(name='image', content='{{ object.image.url }}')
      meta(name='twitter:image', content='{{ object.image.url }}')
      meta(property='og:image', content="{{ object.image.url }}")
      meta(property='og:image:width', content="{{ object.image.width }}")
      meta(property='og:image:height', content="{{ object.image.height }}")
    else
      meta(
        name="og:image",
        content="https://{{request.META.HTTP_HOST}}{% static 'svg/meeple.svg' %}"
      )
      //- meta(
      //-   itemprop='image',
      //-   content='{{request.scheme}}://{{request.META.HTTP_HOST}}/static/img/logo-1000x1000.png'
      //- )
      //- meta(
      //-   name='image',
      //-   content='{{request.scheme}}://{{request.META.HTTP_HOST}}/static/img/logo-1000x1000.png'
      //- )
      //- meta(
      //-   name='twitter:image',
      //-   content='{{request.scheme}}://{{request.META.HTTP_HOST}}/static/img/logo-1000x1000.png'
      //- )
      //- meta(
      //-   property='og:image',
      //-   content="{{request.scheme}}://{{request.META.HTTP_HOST}}/static/img/logo-1000x1000.png"
      //- )
      //- meta(property='og:image:width', content="1000")
      //- meta(property='og:image:height', content="1000")

    // Twitter
    meta(name='twitter:card', content="summary_large_image")
    meta(name='twitter:title', content='{{title}}')
    meta(name='twitter:site', content="@")
    meta(name='twitter:description', content='La mejor forma de encontrar tu tienda de juegos de mesa más cercana')
    meta(name='twitter:site', content='@')
    meta(name='twitter:creator', content='@')

    meta(name='og:site_name', content="Project")
    meta(name='og:type', content='website')

    // Open Graph general (Facebook, Pinterest & Google+)
    meta(property='og:title', content='{{title}}')
    meta(property='og:description', content='La mejor forma de encontrar tu tienda de juegos de mesa más cercana')

    meta(
      property='og:url',
      content='{{ request.scheme }}://{{ request.get_host }}{{request.path}}'
      )
    meta(property='og:locale', content='{{request.LANGUAGE_CODE}}')

    link(
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900",
      rel="stylesheet",
    )
    link(
      href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700,900",
      rel="stylesheet",
    )

    //if lte IE 7
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

    //if lt IE 9
      script(src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")

    link(
      href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css",
      rel="stylesheet"
    )
    link(
      href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css",
      rel="stylesheet"
    )
    link(
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css",
      rel="stylesheet",
    )

    {% render_bundle 'main' 'css' %}
    block stylesheets

    link(rel="stylesheet", href="{% static 'css/style.css' %}")
    link(rel="stylesheet", href="{% static 'css/responsive.css' %}")
    link(rel="stylesheet", href="{% static 'css/main.css' %}")

  body
    #page.page
      {% include 'includes/navbar.pug' %}
      block content
      {% include 'includes/footer.pug' %}

    // Javascript Placed at the end of the document so the pages load faster
    // uncompressible javascripts

    block uncompressible_javascripts

    script(
      src="https://code.jquery.com/jquery-3.4.1.min.js",
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=",
      crossorigin="anonymous"
    )
    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js",
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1",
      crossorigin="anonymous"
    )
    script(
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js",
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM",
      crossorigin="anonymous"
    )
    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js",
      integrity="sha256-AdQN98MVZs44Eq2yTwtoKufhnU+uZ7v2kXnD5vqzZVo=",
      crossorigin="anonymous"
    )
    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js",
      integrity="sha256-GHC3xFbrevQ0aRcWg5JElUOncXYXxTtMOuA74cWAPTw=",
      crossorigin="anonymous"
    )
    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js",
      integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=",
      crossorigin="anonymous"
    )
    script(
      src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;language=en&amp;key={{ google_map_api_key }}",
      type="text/javascript"
    )
    script(
      type="text/javascript",
      src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    )

    block javascripts

    {% render_bundle 'main' 'js' %}
