extends base
{% load i18n static %}

block javascripts

block uncompressible_javascripts

block stylesheets

block title
  {{ title }}

block content_title
  h1 {{ title }}

block content
  {{content}}
  block content_header
  div
    {% if form.errors %}
    {% for error in form.non_field_errors %}
    div.alert.alert-danger
      | {{ error }}
    {% endfor %}
    {% endif %}

  section#contacts-2.wide-100.contacts-section.division
    .container
      .row
        .col-md-10.col-xl-8.offset-md-1.offset-xl-2
          .form-holder
            block form
              form.row.contact-form(method="post",
                enctype="multipart/form-data",
                role="form",
                action="{{action}}",
                name="contactform",
                novalidate="novalidate",
              )
                block top_fields
                block form_fields
                  {% include "includes/form.pug"%}
                block bottom_fields

                {{ formset.management_form }}

                if formset
                  for form in formset
                    div
                      {% include "includes/form.pug" with form=form%}
                    hr

                - if not hide_buttons
                  div.form-group
                    div.row
                      .col-sm-6.text-right
                        .btn-group
                          block buttons
                            button.btn.btn-primary.js-submit-button(type="submit")
                              | {% block submit_button_value%}Guardar{% endblock%}
                            a.btn.btn-danger.js-cancel-btn(
                              href="{% block cancel_button_url %}{{cancel_url}}{% endblock %}")
                              | {% block cancel_button_value%}Cancelar{% endblock%}

  block content_footer
