extends base.pug

block content
  section#hero-20.bg-fixed.bg-deepviolet.newsletter-section.division
    .container.white-color
      .row
        .col-lg-10.offset-lg-1.section-title
          h3.h3-lg La mejor forma de encontrar tu tienda de juegos de mesa más cercana
          p.p-md
            | Para empezar coloca tu dirección en el buscador
      include stores/includes/search.pug
