body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #333;
  background-color: #383b62;
}

.btn {
  padding: .915rem 1.85rem;
  font-family: "Noto Sans TC", sans-serif;
  font-size: .825rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .25px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 100px;
  transition: all 450ms ease-in-out;
}

.btn-green {
  color: #fff;
  background-color: #06c668;
  border-color: #06c668;
}

.tra-hover:hover {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-blue {
  color: #fff;
  background-color: #16a2e0;
  border-color: #16a2e0;
}

.form-group {
  width: 100%;
}

.form-control.is-invalid {
  border-color: #dc3545 !important;
}

.form-control.is-valid {
  border-color: #28a745 !important;
}
