.row
  .col-md-10.col-lg-10.offset-md-1.offset-lg-1
      .newsletter-txt.text-center
        form.newsletter-form(method="GET", action="{% url 'address_search_list' %}")
          .input-group
            input#location.form-control(
              type='text',
              placeholder='Dirección',
              name="location",
              required,
              value="{{ request.GET.location }}"
            )
            span.input-group-btn
              button.btn.btn-green.tra-hover(type='submit')
                | Buscar
                |&nbsp;&nbsp;
                i.fas.fa-search-location
