.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-blue {
  color: #fff;
  background-color: #16a2e0;
  border-color: #16a2e0;
}

a.link {
  color: #283034;
  /* text-decoration: underline; */
}

a.link:hover {
  color: #383b62;
}

.background-white {
  background-color: white;
}

@media (max-width: 767.99px) and (min-width: 576px) {
  #hero-18 h3,
  #hero-20 h3 {
    margin-top: 80px;
  }
}
