extends base.pug

- load i18n humanize utils

block content
  section#hero-20.bg-fixed.bg-deepviolet.newsletter-section.division
      include stores/includes/search.pug
  if current_location
    section
      .container
        iframe(width='100%' height='120' frameborder='0' style='border:0;border-radius: 5px;margin-top:10px;' src='https://www.google.com/maps/embed/v1/view?key={{ google_map_api_key }}&center={{ current_location.y|comma_to_point }},{{ current_location.x|comma_to_point }}&zoom=17' allowfullscreen='')
  else
    section
      .container
        div(role="alert").alert.alert-info.mt-3
          h4.alert-heading Ubicación no encontrada 😞
          p Trata de colocar mucho más información en la búsqueda, por ejemplo la comuna
        
  section#features-3.bg-fixed.bg-deepviolet.bg-waves.wide-100.features-section.division
    .container
      .f3-content.shadow
        .row
          for address in object_list
            {% with store=address.store %}
            .col-md-12.col-lg-12
              .fbox-3
                .fbox-3-txt
                  h4.h5-sm
                    i.fas.fa-store-alt.mr-2
                    if store.website
                      a.link(href="{{ store.website }}", target="_blank")
                        u {{ store.name }}
                    else
                      {{ store.name }}
                  p
                    ul.list-group.list-group-horizontal
                      if store.facebook
                        li
                          h4
                            a.link(href="{{ store.facebook }}", target="_blank")
                              i.fab.fa-facebook.mr-2
                      if store.instagram
                        li
                          h4
                            a.link(href="{{ store.instagram }}", target="_blank")
                              i.fab.fa-instagram.mr-2
                  p.mt-3
                    i.fas.fa-map-marked-alt.mr-2
                    a.link(href="{{ address.get_map_url }}", target="_blank", rel="noopener noreferrer")
                      strong
                        u {{ address.address }}
                  p.mt-2
                    i.fa.fa-location-arrow
                    |&nbsp;&nbsp;
                    strong {{ address.distance.km|floatformat:2 }} KMS
                  hr
            {% endwith %}

        .row
          .col-md-12
            p.p-md.text-center
              ¿No encuentras una tienda? ¡Pues créala!
            .fetures-btn.text-center
              a(href="{% url 'draft_store_create' %}").btn.btn-green.black-hover
                | Crear tienda
